.custom-primary-color{
	color:grey;
}
.custom-primary-color.hover{
	color:black;
}

body {
/*	font-family: 'Monoton', cursive;*/

	font-family: 'Mali', cursive;
}

.font_poor_story{
	font-family: 'Poor Story',cursive;

}

.font_allura{
	font-family: 'Allura', cursive;
}